/* Write some CSS below */



body{
	font-family:Overpass;
	background-color: #F3D3BD
	font-size: 20px;
}

h1, h2, h3{
	font-family: "Gaegu" ;
	font-weight: 400;
	line-height:1;
	text-transform: capitalize;
	font-size: 90 px;
	font-color: black;
	text-align:center;
	margin:auto;
	margin-top:10px;
	margin-bottom:10px;
}

.header{
	font-family: "Gaegu";
	font-size:20px;
	margin:auto;
}

.back a{
	font-color:#55adc8;

}


.container{
	background-size:100% 100%;
	text-align:center;
	margin: auto;
  	width: 200%;
  	margin-left:10px;
 	
}

.quote {
background-color: grey;
padding: 20px 200px;
border-radius: 4px;
text-decoration: none;
margin-top:50px;
margin-bottom:50px;
margin-left:90px;
width:auto;
text-align: center;
opacity:0.8;
}



.container h2{
	font-size: 40px;
	text-color: black;
}

.gallery h1{
	font-size: 40px;
	text-color: black;
	margin-top:50px;
}

.aboutus{

	margin: auto;
  	width: 100%;
 	padding: 10px;

}

.aboutus{
background: white;
box-shadow: 0 0 16px rgba(0,0,0,0.1);
border-radius: 4px;
padding: 24px;
margin: 8px;
position: relative;
margin: auto;
width: 100%;
padding: 10px;

}




.wisdom{
	width: 800px;
	margin: auto;

}

.wisdom {
background: white;
box-shadow: 0 0 16px rgba(0,0,0,0.1);
border-radius: 4px;
width: 720px;
text-align:center;
padding: 24px;
margin: 8px;
position: relative;
z-index: 10;
margin: auto;
width: 98%;
padding: 10px;

}

.container {
	width: 1360px;

	margin: auto;

}

.container {
background: white;
box-shadow: 0 0 16px rgba(0,0,0,0.1);
border-radius: 4px;
width: 1360px;

margin: 8px;
position: relative;

margin: auto;
width: 100%;
width:auto;


}

.banner{
	background-image: url(https://images.unsplash.com/photo-1626187429639-7a77bfad0523?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80);
	background-size:cover;
	margin-left:-100px;
	margin-right:-50px;
	margin-top:-100px;
	background-position: center;
	width:auto
	height:200px;
	padding:300px 0;
	text-align:center;
	width: 1360px;
}

.banner h1{
	color:white;
	font-size:80px;
	margin:0;

}

.cards{
	font-size: 20px;
margin-left:100px;
	margin-bottom:50px;
}


.card-white{
background: white;
box-shadow: 0 0 16px rgba(0,0,0,0.1);
border-radius: 4px;
width: 180px;
text-align:center;
padding: 24px;
margin: 8px;

}

.card-white img{
	width: 180px;
	height: 180px;
	object-fit: cover;
	border-radius: 4px;
}

.card-white h3 {
  margin-bottom: 0;
}

.card-black {
background: white;
box-shadow: 0 0 16px rgba(0,0,0,0.1);
border-radius: 4px;
width: 180px;
text-align:center;
padding: 24px;
margin: 8px;
position: relative;
z-index: 10;

}


.card-black img{
	width: 180px;
	height: 180px;
	object-fit: cover;
	border-radius: 4px;
}
.card-black h3 {
  margin-bottom: 0;
}

a{
	color: white;
	font-weight: bold;
	text-decoration: none;
	margin-bottom:0;
}

.wisdom a{
	color: #55adc8;
}

.footer{
	background: black
	padding:24px 0;
}

.footer p{
	color:white;
}


.banner h1{
	color:black;
	font-size: 80px;
	margin: 0;
}

.banner h2{
	color:black;
	font-size: 50px;
	margin: 0;
	margin-top:30px;
	margin-bottom:30px;
	margin-left:90px;
}

.banner h3{
	color:white;
	font-size: 30px;
	margin-top: 20;
	padding: 16px 48px;
}


.banner p{
	color:white;
	font-size: 20px;
	font-weight:400;
	line-height:1;
	margin-top: 10px
}

.banner a{
background-color: #55adc8;
padding: 16px 48px;
border-radius: 4px;
text-decoration: none;
margin-top:50px;
margin-bottom:50px;
margin-left:100px;
width:600px;
}

.program{
	text-align:center;
}

.container a {
	color: #55adc8;
}


.cards {
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 16px;
}

.cards3 {
		display:grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: -50px;
		margin-left:20px;
		margin-bottom:50px;
		margin:auto;
}

.card-class{
background: white;
box-shadow: 0 0 16px rgba(0,0,0,0.1);
border-radius: 4px;
width: 300px;
text-align:center;
padding: 10px;
margin-left: -20px;
margin:auto;

}

.card-class img{
	width: 300px;
	height: 300px;
	object-fit: cover;
	border-radius: 4px;
}

.footer {
  background: #55adc8;
  text-align: center;
  padding: 24px 0;
}



.footer p{
color: white;
}

.footer a:hover{
	color:#000C66;
}

.contact p{
	padding:0;
	margin:0;
}

.aboutus h1{
	font-size: 40px;
}

.wisdom h2{
	font-size: 40px;
}
.conclusion p{
	margin-bottom:30px;
}

.instagram svg{
	width: 30px;
	height: 30px;
	align:center;
	margin-top:5px;
	margin-right:2px;
	margin-left:2px;
	margin-bottom:2px;
	
}

.instagram {
	width: 40px;
	height: 40px;
	color: white;
	background: #e1306c;
	border-radius:50%;
	margin-left:620px;
	margin-right: 500px;
	box-shadow: 0 10px 10px rgba(0,0,0,0.5);
	margin-top:10px;
	margin: auto;

}

.instagram:hover {
	background:#e1306c;
}

.last {
	margin-top:20px;
}
.header{
	display:grid;
	grid-template-columns: 100px 100px 100px 100px 390px;
	grid-gap: 20px;
	margin: auto;
	margin-top:0px;
	margin-left:0px;

}

.header {
background-color: grey;
padding: 0px 0px;
border-radius: 4px;
text-decoration: none;
width:auto;
opacity:0.8;
}

.header a{
	color:white;
	font-size:23px;
}

.program h3{
	font-size:27px;
}


/* Container media queries */
@media (min-width: 990px) {
  .container {
    width: auto;
  }
}


@media (min-width:  990px) {
  .container {
    width: auto;
  }
}

@media (min-width: 990px) {
  .container {
    width: auto;
  }
}


/*end */

@media (max-width: 800px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
   .cards3 {
    grid-template-columns: 1fr 1fr;
  }
  
  .card-white {
    width: auto;
  }
  .card-black {
    width: auto;
  }

 .card-class {
    width: auto;
  }

.header {
    width: auto;
  }

 .banner{
 	width:auto;
 }

 .quote{
 	width:auto;
 }
  .container {
    width: auto;
  }
 
}
